{% extends 'base.html' %}

{% block head %}
    <title>Restaurants</title>
{% endblock head %}

{% block body %}
    <h1>Add New Restaurant</h1>
    <form action='/' method='POST'>
    Restaurant Name: <input type='text' name='name' id='name'>
    <input type='submit' value='Add Restaurant'>
    </form>
    <hr>
    
    <h1>Restaurant List<h1>
    <hr>

    {% for r in restaurants  %}
        <h3>{{ r.name }}</h3>
        <a href='/delete/{{ r.id }}'>Remove Restaurant</a><br>
        <a href='/edit/{{ r.id }}'>Edit Restaurant Name</a>
        <hr>
    {% endfor %}
{% endblock body %}